POSTGRES_DB=your_db_name
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

GROBID_URL=http://localhost:8070

OLLAMA_BASE_URL=http://localhost:11434

OPEN_ALEX_API_KEY=your_openalex_key
SCOPUS_API_KEY=your_scopus_key
WOS_API_KEY=your_web_of_science_key
